<div class="contenedor-newsletter">
  <div class="newsletter">
    <h3>¡Suscribite a nuestro Newsletter!</h3>
    <p>Ingrese su mail</p>
    <form action="https://tgwcorp.us1.list-manage.com/subscribe/post?u=45c781972de03432097bc125f&amp;id=f098ca8e9a"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_45c781972de03432097bc125f_f098ca8e9a" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Suscribite" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
    </form>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SZ4L8l45KLc" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>

<div class="fashion-nav-footer-contact">
  <div class="fashion-nav-footer-contact__content header--custom-background">
    <div class="nav-bounds nav-bounds--contact">
      <div class="fashion-nav-footer__brand-col header--custom-text">
        {{#if logo}}
        <a class="nav-fashion-header__logo" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{name}}</span>
          <img class="nav-header__image" src="{{logo}}" alt="{{name}}" itemprop="logo" />
        </a>
        {{else}}
        <h3 class="nav-footer-contact-title header--custom-text">
          <a href="/">{{name}}</a>
        </h3>
        {{/if}}
        {{!-- {{#if logoCaption}}
        <p class="fashion-nav-footer__logo-caption">{{{logoCaption}}}</p>
        {{/if}} --}}
        <div class="fashion-nav-footer__social-media--responsive">

        </div>
      </div>

      <div class="fashion-nav-footer__categories-col header--custom-border">
        <div class="categorias-contenedor">
          <div class="categorias-seccion">
            <div>
              <span class="fashion-nav-footer__category">
                <a href="/electrodomesticos" class="">
                  Electrodomesticos
                </a>
              </span>
              <span class="fashion-nav-footer__category">
                <a href="/accesorios-tv" class="">
                  Accesorios TV
                </a>
              </span>
              <span class="fashion-nav-footer__category">
                <a href="/accesorios-celular-notebook" class="">
                  Accesorios Celulares / Notebooks
                </a>
              </span>
            </div>
            <div>
              <span class="fashion-nav-footer__category">
                <a href="/hogar" class="">
                  Hogar, Muebles y Jardin
                </a>
              </span>
              <span class="fashion-nav-footer__category">
                <a href="/_DisplayType_G_Discount_5-100_NoIndex_True" class="">
                  Ofertas
                </a>
              </span>
              <span class="fashion-nav-footer__category">
                <a href="/p/contacto" class="">
                  Contacto
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="fashion-nav-footer__categories-col header--custom-border">

      </div>

      <div class="fashion-nav-footer__categories-col header--custom-border">
        <div class="ubicacion-contenedor">
          <div class="ubicacion-seccion">
            <div>
              <div class="redes-contenedor">
                <a href="https://www.instagram.com/tgwstore/"><img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="" class="instagram"></a>
                <a href="https://www.facebook.com/TGWCorp"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" alt="" class="facebook"></a>
                <a href="https://www.youtube.com/channel/UCs8j_z6_8QExwdKAN_8drjg"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384028.png" alt="" class="youtube"></a>
              </div>
              <span class="fashion-nav-footer__category">
                <a href="" class="">
                  11-2289-0309
                </a>
              </span>
              <span class="fashion-nav-footer__category">
                <a href="" class="">
                  info@tgwcorp.com
                </a>
              </span>
              <span class="fashion-nav-footer__category">
                <a href="" class="">
                  Calle 10 538 Pilar, Buenos Aires
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

      {{!-- <div class="fashion-nav-footer__pages header--custom-border">
        <span class="fashion-nav-footer__page">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
        </span>
      </div> --}}

      {{!-- <div class="fashion-nav-footer__contact-col">
        <div class="fashion-nav-footer__social-media">
          {{#each socialNetworks}}
          <a href="{{url}}" rel="noreferrer noopener" target="_blank" class="header--custom-svg">
            {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
          </a>
          {{/each}}
        </div>
        {{#if showContact}}
        <ul class="fashion-nav-footer__contact header--custom-border">
          {{#if showPhone}}
          <li class="contact-phone-number">
            <a class="header--custom-text" itemprop="telephone" href="tel:{{phone.raw}}" rel="nofollow">Tel:
              {{phone.formatted}}</a>
          </li>
          {{/if}}
          {{#if showEmail}}
          <li class="contact-mail">
            <a class="header--custom-text" itemprop="email" href="mailto:{{email}}" rel="nofollow">{{email}}</a>
          </li>
          {{/if}}
          {{#if address}}
          {{#with address}}
          <li>
            <a class="header--custom-text" itemprop="streetAddress">{{address}}</a>
            <a class="header--custom-text" itemprop="addressLocality">{{city}}</a>
            <a class="header--custom-text" itemprop="addressRegion">{{state}}</a>
          </li>
          {{/with}}
          {{/if}}
          <meta itemprop="contactType" content="customer service" />
        </ul>
        {{/if}}
      </div> --}}

    </div>
  </div>
</div>
<footer role="contentinfo" class="fashion-nav-footer nav-footer header--custom-text header--custom-background">
  <div class="nav-bounds nav-bounds--copyright">
    <div class="nav-footer-primaryinfo">
      <small class="nav-footer-copyright">
        <div class="nav-footer-disclaimer">
          <div>
            <div class="nav-footer-about">
              <a href="{{{linkToMShopsLandingPage}}}" target="_blank"
                class="header--custom-text">{{i18n.powered_by}}</a>
              {{#if linkToLegalNotices}}
              <a href="{{linkToLegalNotices.href}}" class="header--custom-text">{{linkToLegalNotices.label}}</a>
              {{/if}}
              {{#if linkToLGPD}}
              <a href="{{linkToLGPD.href}}" class="header--custom-text">{{linkToLGPD.label}}</a>
              {{/if}}
            </div>
            {{#if showBusinessData}}
            {{#with fiscalData}}
            <div class="nav-footer-fiscal-data">
              <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
              <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
            </div>
            {{/with}}
            {{/if}}
          </div>
          {{#if showQrData}}
          {{#with fiscalData}}
          <a href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
          {{/with}}
          {{/if}}
        </div>
      </small>
    </div>
  </div>
</footer>