<div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}}" id="header-wrapper"
  data-ms-theme="fashion">
  {{#if flash.enabled}}
  {{> components/flash}}
  {{/if}}
  {{> components/cookieDisclaimer}}
  <header role="banner" class="nav-fashion-header" itemtype="http://schema.org/Store" itemid="#this" itemscope="">

    <!-- Desktop menu sidebar -->
    <div itemscope itemtype="http://schema.org/SiteNavigationElement"
      class="nav-fashion-menu nav-fashion-sidebar-menu header--custom-background" id="nav-vertical-list">
      <div class="close-sidebar-button">
        <input type="checkbox" id="nav-fashion__close-sidebar-button" name="nav-tools-header__menu-switch">
        <label for="nav-fashion__close-sidebar-button" id="close-sidebar-button">
          <span class="nav-header__close-sidebar-button nav-header__hamburger"></span>
          <span class="nav-header__close-sidebar-button nav-header__hamburger"></span>
        </label>
      </div>
      <ul class="sidebar-menu-list">
        {{!-- {{#if sale}}
        <li class="nav-fashion-list--vertical__item nav-fashion__sale-link header--custom-border">
          <a href="{{sale.url}}" class="header--custom-text">{{sale.text}}</a>
        </li>
        <li class="nav-fashion-list__item nav-fashion__hamburger-button" id="nav-fashion__hamburger-button"></li>
        {{/if}} --}}
        {{#each menu}}
        <li class="nav-fashion-list--vertical__item">
          <a href="{{this.url}}" class="header--custom-text">{{this.name}}</a>
          {{#if this.nodes}}
          <div>
            <input type="checkbox" data-js="categories-toggle" id="desktop-{{@index}}"
              name="nav-tools-header__menu-switch">
            <label for="desktop-{{@index}}" class="toggle-menu">
              <span class="nav-header__toggle nav-header__hamburger"></span>
              <span class="nav-header__toggle nav-header__hamburger"></span>
            </label>
          </div>
          {{/if}}
        </li>
        <div class="nav-fashion-list--vertical__subitem-container" data-toggle="desktop-{{@index}}">
          {{#each this.nodes}}
          <li class="nav-fashion-list--vertical__subitem">
            <a href="{{this.url}}" class="header--custom-text">{{this.name}}</a>
            {{#if this.nodes}}
            <div>
              <input type="checkbox" data-js="categories-toggle" id="desktop-attr-{{@../index}}-{{@index}}"
                name="nav-tools-header__menu-switch">
              <label for="desktop-attr-{{@../index}}-{{@index}}" class="toggle-menu">
                <span class="nav-header__toggle nav-header__hamburger"></span>
                <span class="nav-header__toggle nav-header__hamburger"></span>
              </label>
            </div>
            {{/if}}
          </li>
          <div class="nav-fashion-list--vertical__attr-container" data-toggle="desktop-attr-{{@../index}}-{{@index}}">
            {{#each this.nodes}}
            <li class="nav-fashion-list--vertical__attribute">
              <a href="{{this.url}}" class="header--custom-text">{{this.name}}</a>
            </li>
            {{/each}}
          </div>
          {{/each}}
        </div>
        <hr class="nav-fashion-list--vertical__hr header--custom-border" />
        {{/each}}

        <li class="nav-fashion-list--vertical__item how-buy__button" data-js="how-buy__button">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
        </li>
      </ul>
    </div>

    <div class="nav-fashion-header__bounds">
      <!-- Desktop menu navbar categories -->
      <ul itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-fashion-list" id="nav-list">
        <li class="nav-fashion-list__item nav-fashion__hamburger-button" id="nav-fashion__hamburger-button">
          <input type="checkbox" id="mobile-categories-menu-switch" name="nav-tools-header__menu-switch">
          <label for="mobile-categories-menu-switch" id="hamburguer-menu">
            <span class="nav-header__hamburger"></span>
            <span class="nav-header__hamburger"></span>
            <span class="nav-header__hamburger"></span>
          </label>
        </li>

        {{#each menu}}
        <li class="nav-fashion-list__item" data-js="{{this.name}}-{{@index}}" has-childs={{this.nodes}}>
          <a href="{{this.url}}">
            <span class="header--custom-text">{{this.name}}</span>
          </a>
        </li>
        {{/each}}

        {{!-- {{#if sale.text}}
        <li class="nav-fashion-list__item nav-fashion__sale-link" id="nav-fashion__sale-link">
          <a href="{{sale.url}}" class="header--custom-text">{{sale.text}}</a>
        </li>
        {{/if}} --}}

        <li class="nav-fashion-list__item nav-fashion__see-more" id="nav-fashion__see-more" has-childs="true">
          <a class="header--custom-text">
            <span>{{i18n.moreCategories}}</span>
          </a>
        </li>
      </ul>

      <!-- Mobile responsive menu -->
      <div itemscope itemtype="http://schema.org/SiteNavigationElement"
        class="nav-fashion-menu nav-fashion-responsive-menu header--custom-background" id="responsive-menu">
        <form class="nav-fashion-search-form header--custom-border" id="search-form-responsive" novalidate="">
          <button type="submit" class="search-button">
            {{> fashion/views/partials/search}}
          </button>
          <input type="text" placeholder="{{i18n.smallPlaceholder}}" class="header--custom-text"
            id="search-input-responsive" required="" autocomplete=" off">
        </form>

        <ul class="sidebar-menu-list">
          <li class="">
            <a href="/" class="header--custom-text-alt">Inicio</a>
          </li>

          <hr class="nav-fashion-list--vertical__hr header--custom-border" />

          <ul class="sidebar-menu-list">
            <li class="">
              <a href="/_DisplayType_G_Discount_5-100_NoIndex_True"
                class="header--custom-text-alt">Ofertas</a>
            </li>

            <hr class="nav-fashion-list--vertical__hr header--custom-border" />

            <div>
              <li class="item-flecha">
                <a href="/electrodomesticos" class="">Electrodomesticos</a>
                <i class="fi fi-rr-angle-small-down electrodomesticos-flecha"></i>
              </li>
              <div class="electrodomesticos_sub invisible">
                <li class="nav-fashion-list--vertical__subitem">
                  <a href="/peque%C3%B1os-cocina">Pequeños Cocina</a>
                  <i class="fi fi-rr-angle-small-down pequeños-cocina-flecha"></i>
                </li>
                <div class="pequeños_cocina_sub invisible">
                  <li><a href="/cafeteras-filtro">Cafeteras de Filtro</a></li>
                  <li><a href="/cafeteras-express">Cafeteras Express</a></li>
                  <li><a href="/tostadoras">Tostadoras</a></li>
                  <li><a href="/pavas-electricas">Pavas Electricas</a></li>
                  <li><a href="/licuadoras">Licuadoras</a></li>
                  <li><a href="/mixer">Mixer</a></li>
                  <li><a href="/rallador-electrico">Rallador Electrico</a></li>
                  <li><a href="/batidoras-de-pie">Batidoras</a></li>
                  <li><a href="/jugueras-exprimidoras">Jugueras y Exprimidores</a></li>
                  <li><a href="/freidoras">Freidoras</a></li>
                  <li><a href="/fabrica-pastas">Fabrica de Pastas</a></li>
                </div>
                <li class="nav-fashion-list--vertical__subitem">
                  <a href="/peque%C3%B1os-hogar">Pequeños Hogar</a>
                  <i class="fi fi-rr-angle-small-down pequeños-hogar-flecha"></i>
                </li>
                <div class="pequeños_hogar_sub invisible">
                  <li><a href="/aspiradoras">Aspiradoras</a></li>
                </div>
                <li class="nav-fashion-list--vertical__subitem"><a href="/refrigeracion-heladeras">Heladeras</a></li>
                <li class="nav-fashion-list--vertical__subitem"><a href="/listado/electrodomesticos-aires-ac/lavado/lavarropas-secarropas">Lavarropas</a></li>
                <li class="nav-fashion-list--vertical__subitem"><a href="/coccion-microondas">Microondas</a></li>
                <li class="nav-fashion-list--vertical__subitem"><a href="/coccion-hornos">Hornos</a></li>
                <li class="nav-fashion-list--vertical__subitem"><a href="/listado/electrodomesticos-aires-ac/coccion/anafes">Anafes</a></li>
                <li class="nav-fashion-list--vertical__subitem"><a href="/artefactos-cuidado-personal">Cuidado Personal</a></li>
              </div>
            </div>

            <hr class="nav-fashion-list--vertical__hr header--custom-border" />

            <div>
              <li class="item-flecha">
                <a href="/accesorios-tv" class="">Accesorios TV</a><i
                  class="fi fi-rr-angle-small-down accesorios-tv-flecha"></i>
              </li>
              <div class="accesorios_tv_sub invisible">
                <li><a href="/soporte-tv">Soportes TV</a></li>
                <li><a href="/computacion/monitores/soporte-monitor#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorías%26applied_filter_order%3D3%26applied_value_id%3DMLA1656%26applied_value_name%3DMonitores+y+Accesorios%26applied_value_order%3D2%26applied_value_results%3D4%26is_custom%3Dfalse">Soportes Monitores</a></li>
                <li><a href="/soportes-especiales">Soportes Especiales</a></li>
                <li><a href="/soporte-decodificadores">Soportes Decodificadores</a></li>
                <li><a href="/conector-cable-hdmi">Cables HDMI</a></li>
                <li><a href="/antena-tda">Antenas TDA</a></li>
              </div>
            </div>

            <hr class="nav-fashion-list--vertical__hr header--custom-border" />

            <div>
              <li class="item-flecha">
                <a href="/climatizacion" class="">Climatización</a>
                <i class="fi fi-rr-angle-small-down climatizacion-flecha"></i>
              </li>
              <div class="climatizacion_sub invisible">
                <li><a href="/climatizacion-ventiladores_CustId_345566645">Ventiladores</a></li>
                <li><a href="/climatizacion-climatizadores-portatiles">Climatizadores Portatiles</a></li>
                <li><a href="/climatizacion-estufas-calefactores">Calefactores</a></li>
              </div>
            </div>

            <hr class="nav-fashion-list--vertical__hr header--custom-border" />

            <div>
              <li class="item-flecha">
                <a href="/accesorios-celular-notebook" class="">Accesorios Celulares / Notebooks</a>
                <i class="fi fi-rr-angle-small-down accesorios-cel-flecha"></i>
              </li>
              <div class="accesorios_cel_sub invisible">
                <li><a href="/listado/celulares-telefonos/accesorios-celulares/cargadores">Carga USB</a></li>
                <li><a href="/listado/celulares-telefonos/accesorios-celulares/cable-datos/">Conectividad</a></li>
                <li><a href="/listado/celulares-telefonos/accesorios-celulares/colgantes-soportes/">Soportes Smartphone/Tablet</a></li>
                <li><a href="/auriculares">Auriculares</a></li>
              </div>
            </div>

            <hr class="nav-fashion-list--vertical__hr header--custom-border" />

            <div>
              <li class="item-flecha">
                <a href="/listado/hogar-muebles-jardin/jardin-aire-libre/" class="">Hogar, Muebles y Jardin</a><i
                  class="fi fi-rr-angle-small-down jardin-flecha"></i>
              </li>
              <div class="jardin_sub invisible">
                <li><a href="/listado/hogar-muebles-jardin/cuidado-hogar-lavanderia/accesorios-lavanderia/tenders">Tender</a></li>
                <li><a href="/listado/hogar-muebles-jardin/organizacion-hogar/organizadores-ropa/percheros">Perchas</a></li>
                <li><a href="/listado/hogar-muebles-jardin/cuidado-hogar-lavanderia/accesorios-limpieza/">Mopas</a></li>
                <li><a href="/jardin-aire-libre-hornos-parrillas-accesorios">Parrillas y Fogoneros</a></li>
                <li><a href="/listado/hogar-muebles-jardin/jardin-aire-libre/jardineria-accesorios/">Jardin</a></li>
                <li><a href="/listado/hogar-muebles-jardin/muebles-hogar/sillas-sillones-banquetas">Sillas y Sillones</a></li>
                <li><a href="/listado/hogar-muebles-jardin/textiles-hogar-decoracion/ropa-cama/sabanas">Blanqueria</a></li>
                <li><a href="/listado/hogar-muebles-jardin/camas-colchones-accesorios/">Colchones y Sommiers</a></li>
              </div>
            </div>

            <hr class="nav-fashion-list--vertical__hr header--custom-border" />

            <div>
              <li class="item-flecha">
                <a href="/listado/construccion/" class="">Construccion</a><i
                  class="fi fi-rr-angle-small-down construccion-flecha"></i>
              </li>
              <div class="construccion_sub invisible">
                <li><a href="/listado/construccion/electricidad">Electricidad</a></li>
                <li><a href="/listado/construccion/banos-sanitarios/griferia-bano/griferias-convencionales">Grifería</a></li>
                <li><a href="/banos-sanitarios">Baños y Sanitarios</a></li>
                <li><a href="/listado/construccion/pisos-revestimientos/">Pisos y Revestimientos</a></li>
              </div>
            </div>

            <hr class="nav-fashion-list--vertical__hr header--custom-border"/>

            <li class="">
              <a href="/listado/alimentos-bebidas/" class="header--custom-text-alt">Alimentos y Bebidas</a>
            </li>

            <hr class="nav-fashion-list--vertical__hr header--custom-border" />

            <li class="">
              <a href="/p/como-comprar" class="header--custom-text-alt">Preguntas Frecuentes</a>
            </li>

            <hr class="nav-fashion-list--vertical__hr header--custom-border" />

            <li class="">
              <a href="/p/contacto" class="header--custom-text-alt">Contacto</a>
            </li>
          </ul>
      </div>

      <!-- Logo -->
      <h1 class="nav-fashion-header__title">
        {{#if logo}}
        <a class="nav-fashion-header__logo" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{shop.name}}</span>
          <img class="nav-header__image" src="{{logo}}" alt="{{shop.name}}" itemprop="logo" />
        </a>
        {{else}}
        <a class="nav-fashion-header__logo header--custom-text" href="/" id="logo-wrapper">{{name}}</a>
        {{/if}}
      </h1>

      <!-- Icons -->
      <nav class="nav-fashion-header__nav-icons" id="nav-fashion-header__nav-icons">
        <div class="nav-icons-group">
          <form class="nav-search-form" id="search-form" novalidate="">
            <input type="text" class="nav-search-input header--custom-border header--custom-text"
              placeholder="{{i18n.smallPlaceholder}}" id="search-input" required="" autocomplete=" off">
            <button type="submit" class="search-button" id="nav-search-button">
              {{> fashion/views/partials/search}}
            </button>
          </form>
          {{#if contact}}
          <a href="{{contact.href}}" class="contact-button" rel="nofollow">
            {{> fashion/views/partials/contact}}
          </a>
          {{/if}}
          {{#if cart}}
          <a href="{{cart.href}}" title="Carrito" class="cart-button" id="nav-cart">
            {{> fashion/views/partials/cart-badge}}
            {{> fashion/views/partials/cart}}
          </a>
          {{/if}}
        </div>
      </nav>
    </div>

    <!-- Desktop menu popover -->
    {{!-- <div itemscope itemtype="http://schema.org/SiteNavigationElement" id="popover-menu"
      class="header--custom-background">
      <!-- Categories -->
      <div class="nav-bounds nav-fashion-desktop-categories-popover">
        {{#each menu}}
        <div class="nav-fashion-list--horizontal__item" data-toggle="{{this.name}}-{{@index}}">
          <li class="nav-fashion-list--horizontal__category header--custom-text">
            <a href="{{this.url}}">{{this.name}}</a>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </li>
          {{#each this.nodes}}
          <div class="nav-fashion-list--horizontal__subitem">
            <li class="header--custom-text">
              <a href="{{this.url}}">{{this.name}}</a>
            </li>
            <div class="nav-fashion-list--horizontal__attr-container">
              {{#each this.nodes}}
              <li class="nav-fashion-list--horizontal__attribute header--custom-text">
                <a href="{{this.url}}">{{this.name}}</a>
              </li>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
      <!-- See more -->
      <div class="nav-bounds nav-fashion-desktop-see-more-popover" id="nav-popover-list">
        {{#each menu}}
        <div class="nav-fashion-list--horizontal__item" data-toggle="see-more">
          <li class="nav-fashion-list--horizontal__category header--custom-text">
            <a href="{{this.url}}">{{this.name}}</a>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </li>
          <div>
            {{#each this.nodes}}
            <li class="nav-fashion-list--horizontal__subitem header--custom-text">
              <a href="{{this.url}}">{{this.name}}</a>
            </li>
            <div class="nav-fashion-list--horizontal__attr-container">
              {{#each this.nodes}}
              <li class="nav-fashion-list--horizontal__attribute header--custom-text">
                <a href="{{this.url}}">{{this.name}}</a>
              </li>
              {{/each}}
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div> --}}

  </header>

  <div class="menu-desktop">
    <ul class="dropdown">
        <li>
          <a href="/electrodomesticos">Electrodomesticos</a>
            <ul>
                <li>
                  <a href="/peque%C3%B1os-cocina">Pequeños Cocina <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""></a>
                  <ul>
                      <li><a href="/cafeteras-filtro">Cafeteras de Filtro</a></li>
                      <li><a href="/cafeteras-express">Cafeteras Express</a></li>
                      <li><a href="/tostadoras">Tostadoras</a></li>
                      <li><a href="/pavas-electricas">Pavas Electricas</a></li>
                      <li><a href="/licuadoras">Licuadoras</a></li>
                      <li><a href="/mixer">Mixer</a></li>
                      <li><a href="/rallador-electrico">Rallador Electrico</a></li>
                      <li><a href="/batidoras-de-pie">Batidoras</a></li>
                      <li><a href="/jugueras-exprimidoras">Jugueras y Exprimidores</a></li>
                      <li><a href="/freidoras">Freidoras</a></li>
                      <li><a href="/fabrica-pastas">Fabrica de Pastas</a></li>
                  </ul>
                </li>

                <li>
                  <a href="/peque%C3%B1os-hogar">Pequeños Hogar <img src="https://cdn-icons-png.flaticon.com/512/25/25638.png" alt=""></a>
                  <ul>
                      <li><a href="/aspiradoras">Aspiradoras</a></li>
                  </ul>
                </li>

                <li><a href="/refrigeracion-heladeras">Heladeras</a></li>
                <li><a href="/listado/electrodomesticos-aires-ac/lavado/lavarropas-secarropas">Lavarropas</a></li>
                <li><a href="/coccion-microondas">Microondas</a></li>
                <li><a href="/coccion-hornos">Hornos</a></li>
                <li><a href="/listado/electrodomesticos-aires-ac/coccion/anafes">Anafes</a></li>
                <li><a href="/artefactos-cuidado-personal">Cuidado Personal</a></li>
            </ul>
        </li>

        <li>
          <a href="/accesorios-tv">Accesorios TV</a>
            <ul>
                <li><a href="/soporte-tv">Soportes TV</a></li>
                <li><a href="/computacion/monitores/soporte-monitor#applied_filter_id%3Dcategory%26applied_filter_name%3DCategorías%26applied_filter_order%3D3%26applied_value_id%3DMLA1656%26applied_value_name%3DMonitores+y+Accesorios%26applied_value_order%3D2%26applied_value_results%3D4%26is_custom%3Dfalse">Soportes Monitores</a></li>
                <li><a href="/soportes-especiales">Soportes Especiales</a></li>
                <li><a href="/soporte-decodificadores">Soportes Decodificadores</a></li>
                <li><a href="/conector-cable-hdmi">Cables HDMI</a></li>
                <li><a href="/antena-tda">Antenas TDA</a></li>
            </ul>
        </li>

        <li>
          <a href="/climatizacion">Climatización</a>
            <ul>
                <li><a href="/climatizacion-ventiladores_CustId_345566645">Ventiladores</a></li>
                <li><a href="/climatizacion-climatizadores-portatiles">Climatizadores Portatiles</a></li>
                <li><a href="/climatizacion-estufas-calefactores">Calefactores</a></li>
            </ul>
        </li>

        <li>
          <a href="/accesorios-celular-notebook">Accesorios Celulares / Notebooks</a>
            <ul>
                <li><a href="/listado/celulares-telefonos/accesorios-celulares/cargadores">Carga USB</a></li>
                <li><a href="/listado/celulares-telefonos/accesorios-celulares/cable-datos/">Conectividad</a></li>
                <li><a href="/listado/celulares-telefonos/accesorios-celulares/colgantes-soportes/">Soportes Smartphone/Tablet</a></li>
                <li><a href="/auriculares">Auriculares</a></li>
            </ul>
        </li>

        <li>
          <a href="/listado/hogar-muebles-jardin/jardin-aire-libre/">Hogar, Muebles y Jardín</a>
            <ul>
                <li><a href="/listado/hogar-muebles-jardin/cuidado-hogar-lavanderia/accesorios-lavanderia/tenders">Tender</a></li>
                <li><a href="/listado/hogar-muebles-jardin/organizacion-hogar/organizadores-ropa/percheros">Perchas</a></li>
                <li><a href="/listado/hogar-muebles-jardin/cuidado-hogar-lavanderia/accesorios-limpieza/">Mopas</a></li>
                <li><a href="/jardin-aire-libre-hornos-parrillas-accesorios">Parrillas y Fogoneros</a></li>
                <li><a href="/listado/hogar-muebles-jardin/jardin-aire-libre/jardineria-accesorios/">Jardin</a></li>
                <li><a href="/listado/hogar-muebles-jardin/muebles-hogar/sillas-sillones-banquetas">Sillas y Sillones</a></li>
                <li><a href="/listado/hogar-muebles-jardin/textiles-hogar-decoracion/ropa-cama/sabanas">Blanqueria</a></li>
                <li><a href="/listado/hogar-muebles-jardin/camas-colchones-accesorios/">Colchones y Sommiers</a></li>
            </ul>
        </li>

        <li>
          <a href="/listado/construccion/">Construcción</a>
            <ul>
                <li><a href="/listado/construccion/electricidad">Electricidad</a></li>
                <li><a href="/listado/construccion/banos-sanitarios/griferia-bano/griferias-convencionales">Grifería</a></li>
                <li><a href="/banos-sanitarios">Baños y Sanitarios</a></li>
                <li><a href="/listado/construccion/pisos-revestimientos/">Pisos y Revestimientos</a></li>
            </ul>
        </li>

        <li>
              <a href="/listado/alimentos-bebidas/">Alimentos y Bebidas</a>
        </li>

        <li>
              <a href="/_DisplayType_G_Discount_5-100_NoIndex_True">Ofertas</a>
        </li>
    </ul>
  </div>
</div>